body{
  max-width: 100%;
  overflow: hidden;
}
table{
margin-left: 23%;
}
td{
  background-color: black;
  padding: 0;
  width: 41px;
  height: 41px;
}

.container{
width: 1288px;
height: 713px;
}
.col-6{
  padding: 0;
  width: 66px;
  height: 31px;
background-color: black;
}
#l12{
  background-color: white;
}
