body{
  max-width: 100%;
  overflow: hidden;
}
table{
margin-left: 23%;
}
td{
  background: #303030;
  padding: 0;
  width: 41px;
  height: 41px;
}
#reset{
  position: absolute;
  right: 25%;
  top:20%;
}
#l12{
  background-color: white;
}
#coorddump{
display: none;
}
.enemy{
  background: red !important;
}
